.body {
    background-color: #0f172a;
    transition: 0.5s all;
}

.body #header.scrolled {
    background-color: #1c2845;
}

.body .logo a h1 {
    color: #c9d4e4;
}
.body .bio h1{
    color: #c9d4e4;
}
.body .emailsub{
    background: #1c2845;
}
.body .emailsub form input{
    color: #fff;
}
.body .hottopicsec{
    background-color: #1c2845;
    border: 1px solid #222f43;
}
.body .hottopicsec h3{
    color: #b9e0f2;
}
.body .edcard{
    background-color: #131c31;
    border: 1px solid #222f43;
}
.body .edcarddet1 a h2{
    color: #b9e0f2;
}
.body .authoname h4{
    color: #66768f;
}
.body .authoname span{
    color: #66768f;
}
.body .readmore::before{
    background-color: #e5dede15;
}
.body .tegsec a{
    background-color: #0062ff1a;
    border: 1px solid #393957;
    color: #99a5b9;
}
.body .tegsec a:hover{
    border: 1px solid rgb(0, 255, 255, 0.68);
    box-shadow: 0 0 10px rgb(0, 255, 255, 0.3);
}
.body .postlabel a{
    background-color: #214b89b0;
    color: #fff;
}
.body .postlabel a:hover{
    background-color: #b9e0f2;
    color: black;

}
.body .postdetals h2{
    color: #b9e0f2;
}
.body .popularposts{
    background-color: #1c2845;
    border: 1px solid #495d7a;
}
.body .popupostde h4{
    color: #b9e0f2;
}
.body .popupostde{
    border-bottom: 1px solid #304058;
}
.body .comment p{
    color: #9ba5b9;
}
.body footer{
    border: 1px solid #203b62;
    background-color: #12233f;
}
.body .logof a h1,
.body .categoriesfooter h3,
.body.newsletterfooter h3,
.body .newsletterfooter form input,
.body .logofooter h4{
    color: #b9e0f2;
}
.body .footersec p,
.body .footersec li a{
        color: #94a9c9;
    }
    .content-text{
        color: rgb(255, 255, 255);
      }