:root {
    --main-bg-color: #564dd4;
    --main-text-color: #005e9d;
    --second-text-color: #7f6ad5;
    --second-bg-color: #ffee99;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background: linear-gradient(
      to right,
      #82ece7,
      #c2f5f3,
      #cbf6f7,
      #d4f8f8,
      #ddfaf8
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    font-size: 1.1rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
 
  .page-header{
    background: var(--second-bg-color);
    padding: 15px 30px;
    margin-bottom: 20px;
    color: #005e9d;
    border: 1px solid #ffffff;
    font-size: 36px;
    font-weight: 500;
  }
.main-content{
    background:rgb(255, 254, 254);
    font-size: 1.2rem;
    margin: 20px 20px;
    border: 2px solid black;
  }
  .create-admin{
    background: #fff;
    justify-content: center;
    width: 40%;
    padding: 2rem;
    margin: 20px 20px;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

