@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3 all;
    /* background: rgba(171, 255, 255, 0.486)  */
}

body::after,
body::before {
    width: 500px;
    content: '';
    z-index: 1;
    position: absolute;
}

body::after {
    background: url('../images/svg/shadow-blue.svg') no-repeat 100% 0;
    height: 800px;
    left: 0;
    top: 0;
}

.container1 {
    max-width: 1400px;
    margin: auto;
}

.container {
    position: absolute;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

/* header------------------- */

header {
    position: sticky;
    top: 0;
    padding: 30px;
    z-index: 9999;
    transition: 0.3s linear;
}

header nav {
    position: relative;
    justify-content: space-between;
}

.logo {
    gap: 10px
}

.logoimg {
    width: 50px;
    height: 50px;
}

.logoimg img {
    width: 100%;
    height: 100%;

}

.logo a h1 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;

}

.webname {
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;

}

.navlist ul {
    gap: 40px;
    font-family: Noto Sans, sans-serif;

}

.navlist ul li a {
    font-size: 16px;
    color: #94a0c9;
    cursor: pointer;
    display: flex;
}

.navlist ul li .liactive {
    color: #1cc2e7;
    font-weight: 600;
}

.navlist ul li i {
    font-size: 15px;
    margin-left: 6px;

}

.searchdarksub {
    gap: 20px;

}

.searchbar i {
    font-size: 20px;
    color: #94a0c9;
    cursor: pointer;
}

.searchclick {
    position: absolute;
    right: 13%;
    margin-top: 20px;
    width: 350px;
    background-color: #e8edf5;
    border: 1px solid #e9eef5;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.searchclick form {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1px;
    padding: 20px 15px 20px 15px;
}

.searchclick form input {
    width: 100%;
    line-height: 25px;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    /* outline: none; */
}

.searchclick form i {
    background-color: white;
    position: absolute;
    width: 25px;
    top: 32px;
    right: 25px;
}

.tagsec {
    padding: 10px 23px;

}

.tagsec h3 {
    font-size: 15px;
    color: #555;
    font-weight: 500;
}

.tags {
    gap: 10px;
    padding: 1px 0;
}

.tags a {
    font-size: 14px;
    color: #94a9c9;

}

.tags a:hover {

    color: #3b5377;
    font-weight: 600;
}

.toggle-switch {
    position: relative;
}

.l {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1em;
}

.l {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.7em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;

    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.l::before,
.l::after {
    content: '';
    display: block;
}

.l::before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}

.l::after {
    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0)0 50% / 50% 100%,
        repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%)0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%, #888 transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translate(-22.5%);
    transform-origin: 25% 25%;
    width: 1.2em;
    height: 1em;


}

/* cheched */
.l:checked {
    background-color: rgb(215 202 202/ 45%);
    box-shadow: 0.125em 0.125em rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #999;
}

.l:checked::before {
    background-color: currentColor;
    transform: translate(125%);
}

.l:checked::after {
    border-left-color: currentColor;
    transform: translate(-2.5%) rotateY(180deg);
}

.l:focus {
    outline: 0;

}

.searchdarksub button {
    padding: 12px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: 600;
    perspective: 30rem;
    border-radius: 6px;
}

.searchdarksub button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 6px;
    background: linear-gradient(320deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/ 200%;
    z-index: -1;
    transition: background 3s;
}

.searchdarksub button:hover::before {
    animation: rotate 1s;
    transition: all 0.5s;

}

@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.searchdarksub button a {
    color: white;
}


/* main start  */

.biosec {
    position: relative;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.bio {
    margin-top: 40px;
}

.bio h4 {
    font-size: 15px;
    font-weight: 700;
    color: #7f92b0;
}

.bio h1 {
    font-size: 64px;

    color: #344161;
    margin: 20px 0;
}

.malti-text {
    background: linear-gradient(320deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/ 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blink {
    border: 4px solid #344161;
    margin-left: 15px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.bio p {
    width: 65%;
    color: #7f92b0;
    font-size: 14px;
    line-height: 24px;
    margin: 15px 0;
}

.emailsub {
    width: 50%;
    background: linear-gradient(#e9eef5, #e9eef5) padding-box, linear-gradient(90deg, #e9eef5, #e9eef5) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #e9eef5;
    padding: 10px 10px 10px 20px;
    margin: 40px 0;
}

.emailsub form {
    width: 100%;
}

.emailsub form input {
    font-family: 'Noto sans', sans-serif;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.emailsub form button {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background: transparent;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    perspective: 30rem;
    border-radius: 6px;
    white-space: nowrap;

}

.emailsub form button::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 6px;
    background: linear-gradient(320deg, #0ea5ea, #0bd1d1 51%, #0ea5ea) var(--x, 0)/ 200%;
    z-index: -1;
}

.bioimg {
    position: relative;
    width: 800px;
}

.bioimg img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.bioimg::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: url('../images/svg/shadow-blue-round.svg') no-repeat 50%;
    bottom: -200px;
    left: -200px;
    background-size: contain;
    z-index: 1;
}

.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4 {
    position: absolute;
}

.pattern-1 {
    position: absolute;
    top: 33%;
    left: -17%;
}

.pattern-1 img {
    animation: animationOne 20s linear infinite alternate;
}

@keyframes animationOne {
    0% {
        transform: translate(0) rotate(0deg);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        transform: translate(0) rotate(0deg);
    }
}

.pattern-2 {
    top: 18%;
    right: 2%;
    animation: thumb 2s linear infinite alternate;
}

.pattern-2 img {
    animation: rotateme 10s linear infinite alternate;
}

@keyframes thumb {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotateme {
    0% {
        transform: translateY(0deg);
    }

    100% {
        transform: translateY(1turn);
    }
}

.pattern-3{
    bottom: 25%;
    left: -19%;
    animation: animationOne 15s linear infinite alternate;
}
.pattern-4{
    bottom: 20%;
    left: 50%;
    animation: animationOne 10s linear infinite alternate;
}