
/* -------------------------------footer style start --------- */

.footer
{
    background: #333;
    text-align: center;
    color: #b2b2b2;
    font-size: 1rem;
    padding-bottom:1% ;
    padding-top: 2rem;
    width: 100%;
}
.footer .container{
    display: grid;
    grid-template-columns: auto auto auto ;
    color: #b2b2b2;
    grid-gap: 1rem;
    padding: 4rem 0;
    border-bottom: 1px solid #b2b2b2;
}
.footer .container div{
    padding: 0 4rem;
}
.footer .container h3{
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}
.footer .container input{
    width: 100%;
    border: 1px solid #b2b2b2;
    padding:0.5rem 0.8rem ;
    background: transparent;
    border-radius: 20px;
    color: #e6e7e7;
}
.footer .container ul{
    list-style: none;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
.footer .container ul li a{
    color: #b2b2b2;
    margin-left: 10px;
    font-size: 18px;
}
.footer .container span{
    display: block;
    text-transform: none;
    color: #eee;
}

/* -------------------------------footer style ends --------- */

