*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #8dcefae4;
    --text-color: #22100d;
    --second-color: #FF9966;
    --main-color: #f66962;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color); 

    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 13%;
    transition: all .40s ease;
}
.logo{
    height: 80px;
    width: 230px;
    /* box-shadow: -3.729px -3.729px 20px rgba(37, 28, 28, 0.5);  */
    padding: 3px;
}
.logo img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    
}
.navbar{
    display: flex;  
    background: transparent;
}
.navbar a{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--p-font);
    padding: 10px 22px;
    transition: all .40s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons i{
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px;
}
.header-icons i:hover{
    transform: scale(1.2);
    color: var(--main-color);
}
#menu-icon{
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 80px 13%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/language/lang2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}
.home-text h1{
    font-size: var(--big-font);
    margin: 15px 0 15px;
}

.home-text p{
    color:#eeff55;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 48px;
}
/* .latter form{
    width: 100%;
    max-width: 460px;
    position: relative;
}
.latter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}
.latter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 16px 40px;
    border-radius: 30px;
    cursor: pointer;
    top: 2px;
    right: 1px;
} */
.home-img img{
    height: auto;
    width: 100%;
}
header.sticky{
    background: var(--bg-color);
    padding: 12px 13%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);   
}
.container{
    padding: 70px 13%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    background: url(../images/language/lang2.jpg);
    background-size: cover;
    background-position: center;
}
.container-box{
    display:inline-flex;
    align-items: center;
    gap: 1.5rem;
    /* border: 2px solid #e9ecef77; */
    background-color: transparent 50%;
    border-radius: 20px;
    padding: 10px;
    
    /* box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%); */
    transition: all .40s ease;
    width: 200px;
    height: 250px;
}
.container-box img{
    width: 100%;
    height: 100%;
}
.container-box:hover{
    transform: translateY(-15px);
}




.center-text{
    text-align: center;
}
.center-text h5{
    color: var(--main-color);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 16px;
    text-shadow: 2px 2px #57575777;
   
}
.center-text h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.categories{
    background: url(../images/language/lang2.jpg);
    background-size: cover;
    background-position: center;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-top: 4rem;
}
.box{
    
    padding: 2px;
    /* box-shadow: -2.229px -2.229px 1px rgb(255 255 255 / 15%); */
    transition: all .40s ease;
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
}
.box iframe{
    width: 100%;
    height: 90%;
    border: 2px solid #e9ecef;
    border-radius: 20px;
    margin: 20px;
}

.box iframe:hover{
    /* transform: translateY(-15px);  */
   box-shadow: -3.729px -3.729px 20px rgb(255 255 255 / 50%); 
}

.main-btn{
    text-align: center;
    margin-top: 5rem;
}
.cources{
    background: url(../images/language/lang2.jpg);
    background-size: cover;
    background-position: center;
   
}
.cources-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    align-items: center;
    margin-top: 4rem;
    cursor: pointer;
    border-radius: 15px;
} 
.row{
    background: var(--bg-color);
    padding: 0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
    transition: all .40s ease;
}
.row:hover{
    transform: translateY(-15px);
}
.row img{
    width: 100%;
    height: 320px;
    /* object-fit: cover; */
    border-radius: 15px 15px 0px 0px;
}

.cources-text{
    padding: 35px 20px;
}
.cources-text h5{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
}
.cources-text h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0 15px;
    transition: all .40s ease;
}
.cources-text h3:hover{
    color: var(--main-color);
}
.cources-text h6{
    color: #696969;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.star i{
    color: var(--main-color);
    margin-right: 2px;
    font-size: 17px;
}
.review{
    color: #696969;
    font-size: var(--p-font);
    font-weight: 400;
    letter-spacing: 1px;
}
.cta-img {
    width: 200px;
    height: 200px;
}
.cta-img img{
    width: 100%;
    height: 100%;
}
.cta-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.about{
    background: url(../images/language/fback.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}
.about-img{
    width: 500px;
    height: 400px;
}

.about-img img{
    width: 100%;
    height: 100%;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1.2;
    margin-bottom: 20px;
}
.about-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-text h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 20px;
    margin-bottom: 40px;
}
@media (max-width: 1410px){
    header {
        padding: 10px 3%;
        transition: .2s;
    }
    header.sticky{
        padding: 12px 3%;
        transition: .2s;
    }
    section{
        padding: 70px 3%;
        transition: .2s;
    }
}

 
 
.main-btn{
    text-align: center;
    margin-top: 5rem;
}
.btn{
    display: inline-block;
    padding: 16px 30px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background: var(--main-color);
    color:white;
    border-radius: 30px;
    transition: all .40s ease;
}
.btn:hover{
    transform: scale(0.9) translateY(-5px);
    background-color: #f66962da;
}