body{
    background:url(../images/bg-1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form{
    width: 400px;
    border: 2px solid #ccc;
   
height: 450px;
    background: url(../images/bg-1.2.png) left top no-repeat,transparent;
    
   
    background-size: 40dvh;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 40px;
    transition: 0.2s;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid;
    width: 95%;
    padding: 10px;
    margin: 10px auto;

    border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}
button {
	float: center;
    width: 95%;
	background: rgb(237, 175, 32) ;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin: 20px 10px 10px 10px;
    /* margin-bottom: 20px; */
	border: none;
    font-size: 1.2rem;
}
button:hover{
	opacity: .8;
}
.error{
    background: #ecd1d1;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}